export("csvy", "block.Ord")
import("survey", "cgam")
importFrom("coneproj", "coneA", "coneB")
importFrom("igraph", "graph_from_adjacency_matrix", "clusters")
importFrom("MASS", "ginv", "mvrnorm")
importFrom("Matrix", "bdiag", "sparseMatrix")
#importFrom("cgam", "incr", "decr", "plotpersp")
importFrom("purrr", "map_dbl", "map")
importFrom("stats", "pbeta", "fitted", "gaussian", "median", 
           "model.frame", "model.matrix", "model.response", "rnorm", 
           "as.formula", "sd", "make.link", "qnorm", "vcov", "aggregate",
           "coef", "delete.response", "formula", "predict",
           "printCoefmat", "terms", "ftable", "resid")
importFrom("Matrix", "bdiag", "rankMatrix")
importFrom("graphics", "par", "persp", "grid", "legend", "plot", "barplot", "points", "segments")
importFrom("grDevices", "topo.colors", "cm.colors", "heat.colors", "terrain.colors", "rgb","col2rgb")

S3method(fitted, csvy)
S3method(print, csvy)
S3method(plotpersp, csvy)

S3method(summary, csvy)
S3method(print, summary.csvy)
S3method(predict, csvy)
S3method(confint, csvy)
S3method(vcov, csvy)
S3method(coef, csvy)


